body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1, h2 {
  color: #333;
}

p {
  color: #666;
}

div {
  margin: 0;
  padding: 0;
}

/* Header styling */
.header {
  background-color: #babcc1;
  padding: 20px;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

header p {
  font-size: 18px;
}
